html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  display: none;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

img {
  -webkit-user-drag: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.myfont {
  font-family: "Montserrat Alternates", sans-serif !important;
}

.mainFont {
  font-family: "Six Caps", sans-serif;
}

.animationTxt {
  animation: animationTxt 10s linear infinite;
}

@keyframes animationTxt {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animationTxt2 {
  animation: animationTxt2 10s linear infinite;
}

@keyframes animationTxt2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.navbarExpand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textStroke1 {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

@media screen and (max-width: 660px) {
  .textStroke1 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.596);
  }
}
